out
node_modules
client/server
.vscode-test
*.OLD
client/src/test/completion.test.ts
client/src/test/diagnostics.test.ts
client/src/test/helper.ts
client/src/test/index.ts
client/src/test/runTest.ts
scripts/e2e.sh
server/coverage
syntaxes/*
*.vsix